@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap');

:root{
    --red: #FC4747;
    --dark-blue: #10141E;
    --greyish-blue: #5A698F;
    --semi-dark-blue: #161D2F;
}


body{
    min-width: 375px;
    font-size: 16px;
    background-color: var(--dark-blue);
    font-family: 'Outfit';
    font-style: normal;
    color: white;
}
/* NAV SECTION */
header{
    background-color: var(--semi-dark-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5em;
}
.nav-items{
    background-color: var(--semi-dark-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35.4%;

}
.active{
    filter: brightness(0) invert(1);
}
.svg:hover{
    cursor: pointer;
    filter: brightness(0) invert(1);
}


.logo{
    margin: 4.8% 4.2%;
}
.logo img{

    width: 1.56em;
    height: 1.25em;
}



.oval{
    margin: 4.8% 4.2%;
}

.oval img{
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}

/* SEARCH SECTION */

form{
    width: 68%;
    height: 1.25em;
    display: flex;
    align-items: center;
    margin: 1em 1.5em;

}
.search--btn{
    border: none;
    background-color: var(--dark-blue);
}

.search--btn:hover{
    cursor: pointer;
}

.search--btn img{
    margin-right: 1em;
    height: 1.5em;
    background-color: var(--dark-blue);
}

.search--input{
    border: none;
    background-color: var(--dark-blue);
    width: 60vw;
    color: white;
    font-weight: 300;
}

main{
    width: 91.4vw;
    margin: 0 auto;
}
form{
    margin: 2.6em 0 ;
}
.search--btn img{
    margin-right: 0;
}
.search--input{
    width: 91.4vw;
}
/* RECOMENDED SECTION */

.recomended{
    width: 91.4vw;
    padding: 0 0;
}

.item-bookmark:hover{
cursor: pointer;
}
h1{

    font-weight: 300;
    letter-spacing: -0.3125px;
    font-size: 1.25em;
    margin: 1.5em 0 ;
}
.box{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;

}
.item{
    position: relative;
}
.item-img{
    border-radius: 8px;
    width: 100%;
    height: auto;

}
.item-desc{
    display:flex;
    margin-top:  0.5em;
    margin-bottom: 0.25em;
    font-size: 0.7em;
    font-weight: 300;
    opacity: 0.75;
}
.item-desc-dot{
 
    margin: auto  0.5em;
    background-color: white;
   height: 0.2em;
   width: 0.2em;
    border-radius: 50%;
}
.item-desc-category{
    display: flex;
}
.item-desc-category img{
    margin-right: 0.25em;
}
h2{
    margin-bottom: 1em;
    font-size: 0.8em;
    font-weight: 500;
    line-height: 1.2em;
}

.item-bookmark{
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: #10141E;
    mix-blend-mode: normal;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
